.project-section>.row {
	margin-bottom: 4rem;
}

/* ipad-ish image */

.project-image {

	border-radius: 5px;
	width: 100%;
	margin: 3rem 0 2rem;
}

@media only screen and (min-width: 64em) {
	.project-image {

		margin: 0;
	}
}

.project-image img {

	border-radius: 2px;
	width: 100%;
	background-color: white;
}

/* team and partner section */


.project-section .team,
.project-section .partners {
	margin-bottom: 3rem;
}

ul.team li,
ul.partners li {
	padding: 1rem 0;
	list-style: none;
}