@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --primary-color: #0af;
    --black: #313333;
    --green: #6CB42D;
    --red: #FC3C50;
    --goldGradientLeft: #FFB347;
    --goldGradientRight: #FFCC33;
    --silverGradientLeft: #B3B6B5;
    --silverGradientRight: #BEC0C2;
    --bronseGradientLeft: #9C7A3C;
    --bronseGradientRight: #B08D57;
}